.center {
  font-family: Andika, sanserif;
  text-align: center;
  font-weight: bold;
}

.center h1 {
  font-weight: bolder;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0 10px;
}

.animate__animated.animate__bounceIn {
  --animate-duration: 10s;
}

.rede {
  color: red;
}
